body {
  font-family: "Montserrat", sans-serif;
}
button {
  font-size: 15px;
  color: #fff;
  background-color: #0d6efd;
  border: 1px solid #0d6efd;
  border-radius: 4px;
  position: relative;
  right: 1px;
  padding: 5px;
}
button:hover {
  background-color: #0a53be;
  border-color: #0a53be;
}
footer {
  font-size: 12px;
  margin-top: 10px;
  display: block;
  text-align: center;
}
section .searchWidth {
  padding-right: 250px;
}
.mainPrediction {
  font-size: 56px;
  padding-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding-left: 10px;
}
.detailedDescription {
  padding-top: 15px;
}
.container {
  border: 1px solid #6a6b6e;
  border-radius: 5px;
  margin: 50px auto;
  padding: 15px;
  padding-left: 25px;
  width: 650px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}
.cities {
  padding-left: 15px;
}
.linkDescription {
  text-decoration: none;
  color: #000000;
  transition: all 20ms ease-in-out;
}
.linkDescription:hover {
  color: #134691;
}
.temperature {
  font-size: 15px;
  position: relative;
  top: -30px;
}
.temperature > a {
  text-decoration: none;
  color: #000000;
}
.hourly-forecast {
  position: relative;
}
.fahrenheit {
  font-size: 15px;
  position: relative;
  text-decoration: none;
  color: #000000;
}
.fahrenheit:hover {
  text-decoration: none;
  color: #000000;
}
.form {
  margin-bottom: 5px;
}
.percents {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding-right: 0;
  padding-left: 5px;
  padding-top: 20px;
  margin-bottom: 0;
}
.mainEmoji {
  font-size: 45px;
  text-align: center;
  padding-top: 0;
  padding-right: 0;
  width: 120px;
}
.detail {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
  width: 180px;
  margin-left: 0;
  padding-left: 0;
}

.moreInfo {
  color: #000000;
  display: block;
  text-align: center;
  padding-left: 15px;
  margin-top: 10px;
}

.emojise {
  font-size: 30px;
}
.minMax .temperature,
.hour {
  opacity: 0.8;
}
.minMax {
  font-size: 12px;
  padding-bottom: 10px;
}
.prediction {
  display: inline;
}
.windDegree {
  border: 1px solid #6a6b6e;
  border-radius: 4px;
  padding: 0 2px;
}
.description {
  text-transform: capitalize;
}
